# Ignore node_modules and dist (will be handled by Docker build stages)
node_modules
dist

# Ignore logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Ignore OS files
.DS_Store

# Ignore test coverage and output
coverage
.nyc_output

# Ignore IDE/editor folders
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode

# Ignore temp files
.temp
.tmp

# Ignore pids and runtime data
pids
*.pid
*.seed
*.pid.lock

# Ignore diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
